<h2>Marcas</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{ma.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="ma.nuevaMarca()">
		  {{ma.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form name="form" class="form-horizontal" role="form" novalidate>
		  	<div class="well">	   
			    <div class="row">
					  <div class="col-sm-4">
					    <label>Imagen</label>
				      <input type="file" id="imagen" name="imagen" ng-model="ma.marca.imagen"/>
				    </div>
				    <div class="col-sm-4" valida>
					    <label>Nombre *</label>
				    	<input name="nombre" type="text" class="form-control" placeholder="Nombre de la Marca" ng-model="ma.marca.nombre" required="">
				    </div>
				    <div class="col-sm-4" valida>
					    <label>Descripción *</label>
				    	<input name="descripcion" type="text" class="form-control" placeholder="Descripcion" ng-model="ma.marca.descripcion" required="">
				    </div>
					</div>
				</div>
				<div class="well">
		  		<div class="row">
			  		<div class="col-sm-4" ng-class="!ma.validaUsuario == true && ma.marca.usuario.length > 0 ? 'has-error' : 'has-success'">					    
				    	<label>Usuario *</label>
				    	<input type="text" class="form-control" placeholder="Usuario" 
				    	ng-model="ma.marca.usuario" 
				    	ng-disabled="ma.cambiarPassword"
				    	ng-change="ma.validarUsuario(ma.marca.usuario)">
				    	<div class="note note-success" ng-if="!ma.validaUsuario == true && ma.marca.usuario.length > 0">Este usuario ya se está usando.</div>
				    	<div class="note note-success" ng-if="!ma.validaUsuario == false && ma.marca.usuario.length > 0">Usuario disponible.</div>
				    	<div class="note note-success" ng-if="ma.marca.usuario.length == 0">Usuario no puede estar en blanco.</div>
			    	</div>
			    	<div class="col-sm-4" ng-class="!ma.validarContrasena == true ? 'has-error' : 'has-success'">					    
				    	<label>Contraseña *</label>
				    	<input type="password" class="form-control" placeholder="Contraseña" 
				    	ng-model="ma.marca.password" 
				    	ng-disabled="ma.cambiarPassword"
				    	ng-change="ma.validarContrasena(ma.marca.password, ma.marca.confirmarContrasena)">
			    	</div>
			    	<div class="col-sm-4" ng-class="!a.validarContrasena == true ? 'has-error' : 'has-success'">					    
				    	<label>Confirmar Contraseña *</label>
				    	<input type="password" class="form-control" placeholder="Confirmar Contraseña" 
				    	ng-model="ma.marca.confirmarContrasena" 
				    	ng-disabled="ma.cambiarPassword"
				    	ng-change="ma.validarContrasena(ma.marca.password, ma.marca.confirmarContrasena)">
				    	<div class="note note-success" ng-if="!ma.validaContrasena == true && ma.marca.confirmarContrasena.length > 0">Las contraseñas no coinciden.</div>
		  			</div>
		  		</div>
		  	</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="ma.guardar(ma.marca,form)" value="Guardar" class="btn btn-primary" ng-show="ma.action" valida-form formulario="form">
						<input type="submit" ng-click="ma.actualizar(ma.marca,form)" value="Actualizar" class="btn btn-primary" ng-show="!ma.action" valida-form formulario="form">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="15%"><div class="text-cetner">Imagen</div></th>
					<th width="30%"><div class="text-center">Nombre</div></th>
					<th width="45%"><div class="text-center">Descripción</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="marca in ma.marcas">
			    <td>{{$index + 1}}</td>
			    <td><img src="{{marca.imagen}}" width="100px"></td>
			    <td>{{marca.nombre}}</td>
			    <td>{{marca.descripcion}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="marca.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!marca.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="ma.editar(marca._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							    <li><a href="#" ng-click="ma.cambiarEstatus(marca._id)">
							    				<i class="fa fa-{{marca.estatus ? 'trash' : 'check' }}"></i> {{marca.estatus ? "Desactivar" : "Activar" }}
							    		</a>
							    </li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


