<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<tr>
				<th>No.</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
			<tr ng-repeat="tipo in t.tipos">
				<td>{{$index + 1}}</td>
				<td>{{tipo.nombre}}</td>
				<td>
					<div class="text-center">
				    <div class="btn-group">
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu text-left">
						    <li><a href="#" ng-click="a.editar(agencia._id)"><i class="fa fa-pencil"></i> Editar</a></li>
						    <li><a href="#" ng-click="a.cambiarEstatus(agencia._id)">
						    				<i class="fa fa-{{agencia.estatus ? 'trash' : 'check' }}"></i> {{agencia.estatus ? "Desactivar" : "Activar" }}
						    		</a>
						    </li>
						  </ul>
						</div>
			    </div>
				</td>
			</tr>
		</table>
	</div>
</div>