<div class="container well">
	<div class="row">
		<div class="col-sm-4">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#filtrar" aria-controls="home" role="tab" data-toggle="tab">MARCA MODELO</a></li>
		    <li role="presentation"><a href="#tipoAuto" aria-controls="tipoAuto" role="tab" data-toggle="tab">TIPO DE AUTOMOVIL</a></li>
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="filtrar">
			    <div class="row">
						<div class="col-sm-12">
							<form>
							  <div class="form-group">
							    <label for="exampleInputEmail1">Seleccione la marca</label>
							    <select class="form-control" ng-model="p.seleccion.marca_id" ng-change="p.getModelos(p.seleccion.marca_id)">
										<option value="{{marca._id}}" ng-repeat="marca in p.marcas">{{marca.nombre}}</option>
									</select>
							  </div>
							  <div class="form-group">
							    <label for="exampleInputPassword1">Seleccione el modelo </label>
							    <select class="form-control" ng-model="p.seleccion.modelo_id">
										<option value="{{modelo._id}}" ng-repeat="modelo in p.modelos">{{modelo.nombre}}</option>
									</select>
							  </div>
							  <button class="btn btn-primary" ng-click="p.filtrar(p.seleccion.modelo_id)">Buscar</button>
							</form>
						</div>
					</div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="tipoAuto">
			    <select class="form-control">
				    <option></option>
			    </select>
		    </div>
		  </div>
	  </div>
	</div>
	
	
	<div ng-show="p.versiones.length > 0">
		<span class="lead">Resultados</span>
		<hr>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-4" ng-repeat="version in p.versiones">
				<div class="well">
					<div class="row">
						<div class="col-md-5 col-sm-12 col-xs-12">
							<div class=" product-image" style="padding: -1px 30px 30px !important">  
								<img src="{{version.modelo.imagen}}" alt="194x228" class="img-responsive"> 
							</div>
						</div>
						<div class="col-md-7 col-sm-12 col-xs-12">
							<div class=""  style="padding: -1px 30px 30px !important">
								<h5 class="name">
									<a href="#">
										{{version.nombre}} <span>Categoría</span>
									</a>
								</h5>
								<p class="price-container">
									<span>{{version.precioSugerido | currency}}</span>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>