<h2>Comparador</h2>
<div class="row">
	<div class="col-sm-3">
		<img scr="/img/carro.jpg" width="200">
							<label >Marcas</label>
						<select  ng-options="marca._id as marca.nombre for marca in c.marcas" 
             				ng-model="c.marca._id" class="js-example-basic-single js-states form-control" placeholder="Seleccione" ng-change="c.getMarca(c.marca._id)"></select>
		<select class="form-control">
			<option value="{{modelo._id}}" ng-repeat="modelo in c.modelos">{{modelo.nombre}}</option>
		</select>
		<select class="form-control">
			<option value="{{version._id}}" ng-repeat="version in c.versiones">{{version.nombre}}</option>
		</select>
	</div>
	<div class="col-sm-3">
		
	</div>
	<div class="col-sm-3">
		
	</div>
	<div class="col-sm-3">
		
	</div>
</div>
